<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Best Buds Forever</h1>
            <h2>Contact List</h2>
            Avi Koenigsberg: 052-459-1819<br> Evyatar Revivo: 054-552-3279
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well">
            <img src="/images/logos/head.png" style="height: 300px;" />
        </div>
    </div>
</div>