<!DOCTYPE html>
<!-- views/index.ejs -->
<html lang="en">

<head>
    <%- include head %>
</head>

<body id="body" class="container parallax" onload="mainLoad('home');">
    <header>
        <%- include header %>
    </header>
    <div class="main-footer-wrapper">
        <main>
            <div id="main">

            </div>
        </main>
        <footer class="page-footer font-small blue pt-4 bg-warning">
            <%- include footer %>
        </footer>
    </div>

</body>

</html>