<ul style="list-style-type: none; overflow: hidden; padding-top: 30px;">

    <% users.forEach(user=>{ %>
        <li class="col-md-4" style="float: left; padding-bottom: 15px; padding-right: 15px;">
            <%- include('./user', {user: user, withPassword: withPassword, Branch: Branches[user.Branch]}); %>
        </li>
        <% }); %>
</ul>
<div style="margin-bottom: 10px;">
    <button class="btn btn-warning" data-toggle="modal" data-target="#addCustomerModal">Add Customer <i class="fa fa-plus" aria-hidden="true"></i></button>
    <% if(withPassword){%>
        <button class="btn btn-warning" data-toggle="modal" data-target="#addEmployeeModal">Add Employee <i class="fa fa-plus" aria-hidden="true"></i></button>
        <%}%>
            <button class="btn btn-warning" onclick="mainLoad('users');">Refresh Page <i class="fa fa-refresh"></i></button>
</div>

<div id="deleteUserModal" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <form action="javascript:void(0);">
                <div class="modal-header">
                    <h4 class="modal-title">Delete User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                </div>
                <div class="modal-body" id="deleteUserBody">
                </div>
                <div class="modal-footer justify-content-between">
                    <button class="btn btn-warning" id="confirmDelete">
                    Yes
                </button>
                    <button class="btn btn-warning" data-dismiss="modal">
                    No
                </button>
                </div>
            </form>
        </div>
    </div>
</div>
<% if(withPassword){%>

    <div id="promoteModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <form action="javascript:void(0);">
                    <div class="modal-header">
                        <h4 class="modal-title">Promote to manager</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                    </div>
                    <div class="modal-body" id="promoteBody">
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button class="btn btn-warning" id="confirmPromote">
                    Yes
                </button>
                        <button class="btn btn-warning" data-dismiss="modal">
                    No
                </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="demoteModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <form action="javascript:void(0);">
                    <div class="modal-header">
                        <h4 class="modal-title">Demote manager</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                    </div>
                    <div class="modal-body" id="demoteBody">
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button class="btn btn-warning" id="confirmDemote">
                    Yes
                </button>
                        <button class="btn btn-warning" data-dismiss="modal">
                    No
                </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <form action="javascript:void(0);">
                    <div class="modal-header">
                        <h4 class="modal-title">New Employee</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" id="fnameAddEmployee" class="form-control" required="required" />
                            <label>Last Name</label>
                            <input type="text" id="lnameAddEmployee" class="form-control" required="required" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" id="emailAddEmployee" class="form-control" required="required" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input id="passwordAddEmployee" type="password" class="form-control" required="required" />
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input id="passwordAddEmployeeConfirm" type="password" class="form-control" required="required" />
                        </div>
                        <div class="form-group">
                            <label>Salary</label>
                            <input id="salaryAddEmployee" type="number" class="form-control" required="required" step="0.01" min="0" />
                        </div>
                        <div class="form-group">
                            <label>Branch</label>
                            <select class="custom-select" id="branchAddEmployee">
                                <%for (const ID in Branches){ %>
                                    <option value=<%-ID%>><%-Branches[ID]%></option>
                                 <% } %>
                             </select>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button class="btn btn-warning" onclick="createEmployee()">
                                Create
                            </button>
                        </div>
                </form>
                </div>
            </div>
        </div>
        <%}%>
            <script src="javascripts/Users.js">
            </script>